.customer-card {
    border: solid;
    border-color: white;
    border-radius: 10px;
    margin: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.customer-card:hover {
  background-color: #363636;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-link:hover {
  text-decoration: none;
  color: inherit;
}
